/** @format */

.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, min-content);

  img {
    grid-column: 1/-1;
    grid-row: 1/ 1;
    height: 100vh;
  }
}

.navbar {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  justify-content: space-between;
  padding: 1.6rem;
}

.navbar_brand {
  display: grid;
  justify-content: flex-start;
  grid-row: 1/1;
  gap: 0.5rem;
  .navbar_brand-logo {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .navbar_brand-name {
    grid-row: 1/1;
  }
}

.navbar-links {
  grid-row: 2/1;
  justify-self: end;
}
